<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.ssm.mapper.UsersMapper">

    <resultMap id="UsersMap" type="com.ssm.entity.Users">
<!--        <id column="user_id" property="userId" jdbcType="INTEGER"/>-->
<!--        <result column="user_name" property="userName" jdbcType="VARCHAR"/>-->
<!--        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>-->
<!--        <result column="user_age" property="userAge" jdbcType="INTEGER"/>-->
    </resultMap>


    <select id="selectUserByUserId" resultMap="UsersMap" parameterType="com.ssm.entity.Users">
        SELECT * FROM users WHERE user_id = #{userId}
    </select>

</mapper>